<template>
  <div class="row">
    <div v-if="finished()" class="col">
      <p><strong>Group closed</strong></p>
    </div>
    <div v-else class="col">
      <h4>{{goodAlternatives.length}} Clasification Chances</h4>
      <p>Emulates matches results, doesn't care about goal differences.</p>
      <div class="row alternatives-list">
        <div class="col-lg-4 col-md-6 col-12 " v-for="item in alternatives" :key="item.id" v-if="!isOut(item.all, teamId)">
          <div class="card">
            <div class="card-body alternatives">
              <div class="matches">
                <div v-for="match in item.news" :key="match.id">
                  <Match :match="match"></Match>
                </div>
              </div>
              <GroupTable class="positions" :matches="item.all"></GroupTable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Match from './Match.vue';
  import Team from './Team.vue';
  import GroupTable from './GroupTable.vue';
  import Processor from '../libs/Table.js';
  import Alt from '../libs/Alternatives.js';

  export default{
    components: {
      Match,
      Team,
      GroupTable
    },
    props: {
      group: {
        required: true
      },
      teamId: {
        default: 13
      }
    },
    computed: {
      alternatives() {
        return Alt.make(this.group.matches)
      },
      goodAlternatives() {
        return this.alternatives.filter(alter => {
          return !this.isOut(alter.all, this.teamId);
        })
      }
    },
    methods: {
      isOut(matches, teamId) {
        let table = Processor.makeOrdered(matches);
        // it's last?
        if (table[3].id == teamId) {
          return true;
        }
        // it's third?
        if (table[2].id == teamId) {
          // has less points than second one?
          if (table[2].points < table[1].points) {
            return true;
          }
        }
        // in a draw between 2 and 3 we cant tell if is out
        return false;
      },
      finished() {
        return this.group.runnerup != null && this.group.winner != null;
      }
    }
  }
</script>
<style scoped lang="scss">
.alternatives-list {
  .card {margin-bottom: 20px;}
}
.alternatives {
  display: flex;
  flex-direction: column;
  background-color: rgba(lighten(grey, 45), 0.5);
  .matches {
    padding: 10px;
  }
  .positions {
    padding: 10px;
  }
}
</style>
