<template>
  <div class="text-center">
    <div v-for="match in group.matches" :key="match.id">
      <Match :match="match"></Match>
    </div>
  </div>
</template>

<script>
import Match from './Match.vue';

  export default{
    name: 'group',
    components: {
      Match
    },
    props: {
      group: {
        required: true,
        type: Object
      }
    }
  }
</script>
<style scoped>

</style>
