<template>
  <div>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Equipo</th>
          <th>PJ</th>
          <th>GF</th>
          <th>GC</th>
          <th>Pts</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in table" :key="item.id">
          <td>
            <Team :id="item.id"></Team>
          </td>
          <td>{{item.played}}</td>
          <td>{{item.goalsf}}</td>
          <td>{{item.goalsc}}</td>
          <td>{{item.points}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import Processor from '../libs/Table.js';
  import Team from './Team.vue';

  export default{
    name: 'group-table',
    props: ['matches'],
    components: {
      Team
    },
    computed: {
      table() {
        let table = Processor.makeOrdered(this.matches);
        return table;
      }
    }
  }
</script>
<style scoped>

</style>
