<template>
  <div class="match">
    <!--<p>{{match.date}}</p>-->
    <div class="teams">
      <Team :id="match.home_team" :short="true"></Team>
      <div class="score">
        <span>{{match.home_result}}</span>
        <span id=""> / </span>
        <span>{{match.away_result}}</span>
      </div>
      <Team :id="match.away_team" :short="true" :reverse="true"></Team>
    </div>
  </div>
</template>

<script>
import Team from './Team.vue';

  export default{
    name: 'match',
    components: {
      Team
    },
    props: {
      match: {
        type: Object,
        required: true
      }
    }
  }
</script>
<style scoped lang="scss">
.match {
  text-align:center;
}
.match .teams {
  display: flex;
  justify-content: space-between;
  .score {
    padding: 5px 20px;
  }
}
</style>
