<template>
  <div class="team" :class="{reversed: reverse}">
    <div class="flag">
      <i>{{team.emojiString}}</i>
    </div>
    <div class="name">
      <p v-if="short"><strong>{{team.fifaCode}}</strong></p>
      <p v-else><strong>{{team.name}}</strong></p>
    </div>
  </div>
</template>

<script>
  import allData from '../assets/data.json';

  export default{
    props: {
      id: {
        type: Number,
        required: true
      },
      reverse: {
        type: Boolean,
        default: false
      },
      short: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      team() {
        return allData.teams.find(item => item.id == this.id);
      }
    }
  }
</script>
<style scoped lang="scss">
.team {
  display:flex;
  justify-content: left;
}

.team.reversed {
  flex-direction: row-reverse;
}

.team .flag , .team .name {
  margin-right: 5px;
}
.team .flag img {
  max-width: 30px;
}
</style>
