<template>
  <div class="" id="app">
    <div class="row">
      <div class="col-12">
        <h3>Check chances of clasification for</h3>
        <div class="form-group">
        <select class="custom-select custom-select-lg" v-model="selectedTeam">
          <option v-for="team in teams" :value="team.id" :key="team.id">
          {{ team.name }}
          </option>
        </select>
        </div>
        <Alternatives :team-id="selectedTeam" :group="findTeamGroup(selectedTeam)"></Alternatives>
        <h4>Original</h4>
        <div class="row main-results">
          <Group class="col matches" :group="findTeamGroup(selectedTeam)"></Group>
          <GroupTable class="col positions" :matches="findTeamGroup(selectedTeam).matches"></GroupTable>
        </div>
        <hr />
        <hr />
      </div>
      <div class="col-12">
        <h3>All groups</h3>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12" v-for="group in groups" :key="group.id">
            <div class="card main-results">
              <div class="card-body">
                <h5>{{group.name}}</h5>
                <!--<Group class="col matches" :group="group"></Group>-->
                <GroupTable class="col positions" :matches="group.matches"></GroupTable>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <hr />
        <p>Made by <a href="https://gitlab.com/nerones">nerones</a>, code is in <a href="https://gitlab.com/nerones/russia">Gitlab</a></p>
        <p>Data from <a href="https://github.com/lsv/fifa-worldcup-2018">lsv/fifa-worldcup-2018</a></p>
      </div>
    </div>
  </div>
</template>

<script>
import Group from './components/Group.vue';
import GroupTable from './components/GroupTable.vue';
import Alternatives from './components/Alternatives.vue';
import allData from './assets/data.json';


export default {
  name: 'app',
  components: {
    Group,
    Alternatives,
    GroupTable
  },
  data: () => {
    allData.selectedTeam = 13;
    return allData;
  },
  created() {
    this.fetchData();
  },
  methods: {
    findTeamGroup(teamId) {
      let groupNames = Object.keys(this.groups);
      for (const i of groupNames) {
        let founded = this.groups[i].matches.find(match => {
          return match.home_team == teamId || match.away_team == teamId;
        });
        if (typeof founded !== 'undefined') {
          return this.groups[i]
        }
      }
    },
    fetchData() {
      let url = "https://raw.githubusercontent.com/lsv/fifa-worldcup-2018/master/data.json";
      fetch(url)
        .then(res => res.json())
        .then((out) => {
          this.groups = out.groups;
          this.knockout = out.knockout;
        })
        .catch(err => { throw err });
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}
.main-results {
  margin-bottom: 20px;
  .matches {
    max-width: 400px;
  }
}
</style>
